/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body {
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
  }
  
  section {
    padding: 50px 15px;
  }
  
  /* #hero {
    background: url('assets/hero.jpg') no-repeat center center / cover;
  } */
  